<!DOCTYPE html>
<html>

<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
  <h2>Ticket submitted:</h2>
  <p>
    Ticket ID: <%= @ticket.id %>
  </p>
  <p>
    Description: <%= @ticket.description %>
  </p>
</body>

</html>
